.accordian {
    width: 100vw;
    height: 15vh;
    background-color: rgb(35, 35, 35);
    color: white;
    border: none;
    text-align: left;
    padding: 10px 18px;
    
}

.accordian:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 66, 66);
    cursor: pointer;
}

.accordian:active {
    color: black;
    background-color: rgb(186, 186, 186);
}

.panel.active {
    display: block;
    max-height: 20%;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

.panel {
    display: none;
}

.subPanel {
    padding: 18px;
    border: 1px solid white;
}

.subPanel:hover {
    background-color: rgb(66, 66, 66);
}

.thumbnail {
    width: 50px;
    object-fit: contain;

    float: left;
}

.fileNumber {

    font-size: .8em;
    float: left;
    clear: left;
    padding: 10px 0 10px 0;
}

.fileInfo {
    display: inline-block;
    padding: 0 10px;
    margin: 0;
    font-size: 1.2em;
    white-space: pre-line;
}

.filePostedDate {
    padding: 0;
    margin: 0;
    display: inline-block;
    font-size: .8rem;
}

.iconContainer {
    display: inline-block;
    position: absolute;
    right: 0;
}

.icon {
    padding: 0 5px;
}

.icon.instagram:hover {
    fill: rgb(200, 1, 200);
}

.icon.tiktok:hover {
    fill: rgb(0, 221, 255);
}

.icon.youtube:hover {
    fill: red;
}

.icon.facebook:hover {
    fill: rgb(0, 85, 255);
}

.icon.chevronDown, .icon.chevronUp {
    float: right;
    padding-top: 25px;
    padding-right: 0px;
}

.icon.chevronUp.hide {
    display:none;
}

.icon.chevronDown.hide {
    display:none;
}

.icon.archive {
    display: inline-block;
}

.icon.archive.hide {
    display: none;
}