.accordian {
    width: 100vw;
    height: 18vh;
    background-color: rgb(35, 35, 35);
    color: white;
    border: none;
    text-align: left;
    padding: 0px 18px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 12.5% 20% 20% 20% 13.75% 13.75%;
    grid-template-rows: repeat(4, 25%);
}

.accordian:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 66, 66);
    cursor: pointer;
}

.accordian:active {
    color: black;
    background-color: rgb(186, 186, 186);
}

.panel.active {
    display: block;
    max-height: 20%;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

.panel {
    display: none;
}

.subPanel {
    padding: 18px;
    border: 1px solid white;
}

.subPanel:hover {
    background-color: rgb(66, 66, 66);
}

.thumbnail {
    object-fit: contain;
    width: 100%;
    grid-column: 1;
    grid-rows: 1 / span 3;
    margin: auto;
}

.fileNumber {
    grid-column: 2;
    grid-row: 1;
    font-size: 1em;
}

.fileInfo {
    grid-column: 2;
    grid-row: 2;
    font-size: 1em;
}

.filePostedDate {
    grid-column: 2;
    grid-row: 3;
    font-size: .8em;
}

.iconContainer {
    grid-column: 5 / span 2;
    display: flex;
    justify-content: space-between;

}



.icon.instagram:hover {
    fill: rgb(200, 1, 200);
}

.icon.tiktok:hover {
    fill: rgb(0, 221, 255);
}

.icon.youtube:hover {
    fill: red;
}

.icon.facebook:hover {
    fill: rgb(0, 85, 255);
}

.icon.chevronDown, .icon.chevronUp {
    grid-column: 6;
    grid-row: 4;
    margin-left: auto;
    width: 20px;
    height: 20px;
    margin-top: auto;
}

.icon.chevronUp.hide {
    display: none;
}

.icon.chevronDown.hide {
    display: none;
}

.icon.archive {
    grid-column: 5;
    grid-row: 4;
    
    height: 100%;
    margin-right: auto;
}

.icon.archive.hide {
    display: none;
}