nav {
    position: fixed;
    bottom: 0;
    background-color: grey;
    width: 100vw;
    height: minmax(30px, 25%);
    
}

#navbarContainer {
    display: grid;
    grid-template-columns: 50% 15% 20% 15%;
    grid-template-rows: 1fr;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#dropdown {
    position: relative;
}

#filterLabel {
    vertical-align: middle;
    margin: 10px;
}



.openFilter {
    display: block;
    position: absolute;
    z-index: 999;
    width: 50px;
    height: 50px;
}

.closeFilter {
    display: none;
}

.pageBtn {
    margin: auto;
}

.pageBtn:hover {
    cursor: pointer; 
}

svg:active {
    fill: black;
}

#pageNumber {
    margin: auto;   
}